@model OrderTest.Models.AccountViewModel

@{
    Layout = null;
}

<div>Order Item：@Html.DisplayFor(m => m.OrderItem)</div>
<div style="margin-top:20px;">Price：@Html.DisplayFor(m => m.Price)</div>
<div style="margin-top:20px;">Cost：@Html.DisplayFor(m => m.Cost)</div>
